.root {
    -fx-base: #35383a;
    -fx-control-inner-background: derive(-fx-base,10%);
    -fx-control-inner-background-alt: derive(-fx-base,-15%);
    -fx-accent: #5b656d;
    -fx-hover-base: ladder(
            -fx-base,
            derive(-fx-base,10%) 10%,
            derive(-fx-base,15%) 20%,
            derive(-fx-base,25%) 35%
     );
     -fx-focus-color: #98c2e0;
     -fx-faint-focus-color: #98c2e022;
     -fx-color: -fx-base;
     -fx-outer-border: derive(-fx-color,-0%);
     -fx-mark-color: lightgrey;
     -fx-background: -fx-control-inner-background-alt;
     -fx-text-fill: lightgrey;
}

.menu-bar {
    -fx-padding: 0.0em 0.666667em 0.0em 0.666667em; /* 0 8 0 8 */
    -fx-spacing: 0.166667em; /* 2 */
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
    -fx-background-radius: 0, 0 ;
}

.accordion > .titled-pane > .title {
    -fx-background-color:-fx-control-inner-background;
    /*-fx-background-insets: -1 0 0 0, 0 1 1 1, 1 2 2 2;
    -fx-background-radius: 0, 0, 0;*/
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.15em 0 0.15em; /* 0 3 0 3 */
}

.tree-cell {
    -fx-padding: 0.25em; /* 3 */
    -fx-indent: 1em;
}
.tree-cell .label {
    -fx-padding: 0.0em 0.0em 0.0em 0.25em; /* 0 0 0 3 */
}
.tree-cell > .tree-disclosure-node,
.tree-table-row-cell > .tree-disclosure-node {
    -fx-padding: 4 6 4 8;
    -fx-background-color: transparent;
}
.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-background-color;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-cell:expanded > .tree-disclosure-node > .arrow,
.tree-table-row-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: 90;
}

.label {
    -fx-text-fill: lightgrey;
}

.text-area {
    -fx-font-size: 9pt;
    -fx-font-family: 'monospace';
}